@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-color: white;
    perspective: 900px;
    overflow: hidden;
    color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
body {  transition: 1.2s all; }
.sf {
  width: 100%;height: 100%;
  background-image: url("assets/sf-paper.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
sample{ display:none;}
.hidden { opacity:0; }
controls {
    font-size: 12px;opacity:0.3;
}
controls:hover{ opacity:1;}
symbol {
    font-size: 120px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity:0;
}
comment {
    background-color: #222;
}
#ang2Title { font-size: 55px;::down(190);  }
#ang2: down(60);
#ang2logo: up(180);
body.s1 { background-color: #fcf1d8;}
.s1 {
  #odessa: show;
}
body.s2 {  background-color: #0074C1;  }
.s2 {
  #ang2logo: show down(50);
  #ang2: show down(50) delay(0.4);
  #ang2Title:show down(50) delay(0.6);
  #odessa: down(300) hide rotate(130);
}
#val{
  ::scale(0.5,0.5) up(270) rotate(-50);
  box-shadow: 0 0 95px black;
}
#val_qr: right(790);
#val_qr {
  &:after {
    content:"http://olostan.name";
    position:absolute;
    font-size: 25px;
    top:-35px;
  }
}
#val_qr2 {
  &:after {
    content:"http://goo.gl/azuBfd";
    position:absolute;
    font-size: 25px;
    top:-35px;
    left:-30px;
  }
}
#val_qr2: left(790);
.s3 {
  #ang2logo: down(298) left(215) scale(0.35,0.35);
  #ang2: show down(50) delay(0);
  #ang2Title:show down(40) delay(0);
  #odessa: down(300) hide rotate(130);
  #val: show down(150) rotate(50);
  #val_qr: show left(500) delay(0.5);
  #val_qr2: show right(500) delay(0.5);
}

#ang1: up(400) scale(1.7,1.7);
#ang1d {::up(400); font-size: 42px;color: black;}
body.s4 {  background-color: #EEE; }
.s4 {
  #ang2logo: down(598) hide;
  #ang2: show down(450) hide;
  #ang2Title:show down(440) hide;
  #odessa: down(500) hide rotate(130) hide;
  #val: show down(550) rotate(70) delay(0.2) hide;
  #val_qr: down(500) rotate(70) delay(0.5) hide;
  #val_qr2: down(500) rotate(70) delay(0.5) hide;
  #ang1: show down(300) delay(0.7);
  #ang1d: show down(430) delay(1.3);
}
#y2009 { font-size: 180px;::rotate(120);}
.s5 {
  #ang1: up(150) delay(0);
  #ang1d{ ::up(190) delay(0); color: #888;}
  #y2009{  ::show rotate(-120);; color: black;}
  #ang2logo:  right(215);

}
.s6 {
  #ang1: up(250) delay(0.3) hide;
  #ang1d: up(200) delay(0) hide;
  #y2009: up(400) hide;
  #ang2logo: show up(800) scale(1,1);
}
body.s6 {  background-color: #0074C1;  }
#lsel: rotate(0,90);
.s7 {
  #ang2logo: show rotate(0,180);
  #lsel: show rotate(0,-90) delay(0.1);
}
#ljs{  ::down(500);color: #FF0;font-size:80px;}
#les6{  ::down(500);color: #FF0;font-size:80px;}
#ldart{  ::down(500);color: #FF0;font-size:80px;}
#lts{  ::down(500);color: #FF0;font-size:80px;}
.s8 {
  #ang2logo: hide;
  #lsel: up(300) delay(0);
  #ljs: show up(500);
}
body.s9 {  background-color: #44F;  }
.s9 {
  #ljs: opacity(0.4) up(150);
  #ldart: show up(500);
}
body.s10 {  background-color: #449;  }
.s10 {
  #ljs: opacity(0.2) up(50);
  #ldart: opacity(0.4) up(120);
  #les6: show up(500);
}
body.s11 {  background-color: #444;  }
.s11 {
  #ljs: opacity(0.05) up(30);
  #ldart: opacity(0.1) up(50);
  #les6: opacity(0.4) up(120);
  #lts: show up(500);
}
#ts15: scale(0.1,0.1);
.s12 {
  #lsel: up(300) delay(0.4);
  #ljs: up(230) hide delay(0.2);
  #ldart: up(250) hide delay(0.2);
  #les6: up(320) hide delay(0);
  #lts: up(300) delay(0.6);
  #ts15: show scale(1,1) delay(0.6);
}
#s_es5: rotate(-80) down(300);
#s_es5dsl: rotate(-80) down(300);
#s_es6: rotate(-80) down(300);
#s_es6d: rotate(-80) down(300);
#s_html { ::rotate(-80) down(300); width:800px;word-wrap: break-word;}
.s13 {
  #ts15: hide scale(-0.9,-0.9) delay(0);
  #s_es5: show rotate(80) up(300);
}
.s14 {
  #s_es5: hide rotate(80) up(300);
  #s_es5dsl: show rotate(80) up(300);
}
.s15 {
  #s_es5dsl: hide rotate(80) up(300);
  #s_es6: show rotate(80) up(300);
}
.s16 {
  #s_es6: hide rotate(80) up(300);
  #s_es6d: show rotate(80) up(300);
}
.s17 {
  #s_es6d: hide rotate(80) up(300);
  #s_html: show rotate(80) up(300);
}
#no { ::down(500) left(200) scale(0.5,2);color: red;font-size: 200px;text-transform: uppercase;}
#no_ctrl { ::down(390) right(80);color: white;font-size: 70px;}
#no_pro { ::down(460) right(58);color: white;font-size: 70px;}
#no_srv { ::down(540) right(40);color: white;font-size: 70px;}
#no_fac { ::down(620) right(55);color: white;font-size: 70px;}
.s18 {
  #s_html: hide rotate(80) up(300);
  #no: show up(540);
  #no_ctrl: show up(545) delay(0.2);
  #no_pro: show up(545) delay(0.4);
  #no_srv: show up(545) delay(0.8);
  #no_fac: show up(545) delay(1.2);
}
#classes { font-size: 140px;color: green;::down(300);text-shadow: 0 0 20px yellow;}
.s19 {
  #classes: show up(100);
}
#tmpl{  ::down(500);color: #FF0;font-size:80px;}

.s20 {
  #classes: hide up(500) delay(0.7);
  #no: hide up(540);

  #no_ctrl: hide up(545) delay(0.1);
  #no_pro:  hide up(545) delay(0.2);
  #no_srv:  hide up(545) delay(0.4);
  #no_fac:  hide up(545) delay(0.6);
  #lts: up(300) hide delay(0.6);
  #tmpl: show up(500);
}
.s21 {
  #tmpl: up(290);
  #tmpl_sc: show;
  #tmpl_s: show down(170);
}
#tmpl_a1: rotate(-80) down(300);
#tmpl_a2: rotate(-80) down(300);
#tmpl_a1 pre { font-size: 30px;}
#tmpl_x: down(500);
.s22 {
  #tmpl_sc: rotate(90) hide down(500);
  #tmpl_s: rotate(90) hide down(200);
  #tmpl_a1: show rotate(80) up(400);
  #tmpl_x: show up(450) delay(0.6);
}
.s23 {
  #tmpl_a1: hide rotate(80) up(300);
  #tmpl_x: hide rotate(80) up(300);
  #tmpl_a2: show rotate(80) up(400);
}
#tmpl_sow: rotate(0,0,-900) scale(0.2,0.2);
.s24 {
  #tmpl_sow: show rotate(0,0,900) scale(0.8,0.8);
}
#tmpl_a2a: left(500) up(50);
#tmpl_a2b: right(500) up(50);
.s25 {
  #tmpl_sow: hide up(500);
  #tmpl_a2: hide up(400);
  #tmpl_a2a: show right(300);
  #tmpl_a2b: show left(300);
}
#change{  ::down(500);color: #FF0;font-size:80px;}

.s26 {
  #tmpl_a2a: hide rotate(0,90) left(300);
  #tmpl_a2b: hide rotate(0,-90) right(300);
  #tmpl: hide up(500);
  #change: show up(500);
}
#change_d: down(600);
#change_imm{ ::up(270) left(200); color: black; font-size: 28px;text-shadow: 0 0 15px yellow;}
#change_obs{ ::down(270); color: white; font-size: 56px;text-shadow: 0 0 15px yellow;}
.s27 {
  #change: up(300) hide;
  #change_d:show up(600);
  #change_imm:show;
}
.s28 {
  #change_d:hide;
  #change_d2:show;
}
#change_imm_d { color: white; font-size: 28px;width:600px;text-align: center;::down(200);}
#change_obs_d { color: white; font-size: 28px;width:600px;text-align: center;::down(200);}
#change_imm_d u, #change_obs_d u  { color: yellow; }
.s29 {
  #change_d2:hide rotate(90) up(300);
  #change_imm{ ::down(100) right(200) scale(1.8,1.8); color: white;}
  #change_imm_d:show up(200) delay(0.4);
}
.s30 {
  #change_imm: up(300) hide delay(0.2);
  #change_imm_d: up(300) hide delay(0);
  #change_obs: show up(450);
  #change_obs_d: show up(250);
}
.s31 {
  #change_obs_d: hide;
  #change_obs_s: show;
}
.s32 {
  #change_obs: hide;
  #change_obs1: show;
  #change_obs_s: hide;
}
.s33 {
  #change_obs1: hide;
  #change_obs2: show;
}
.s34 {
  #change_obs1: show;
  #change_obs2: hide;
}
#z_apply pre {
  font-size:100px;
}
#z_apply: down(400);
.s35 {
  #change_obs1: hide rotate(90) up(200);
  #z_apply: show  up(400);
}
#z_no { color:red; font-size: 420px;}
.s36 {
  #z_no: show;
}
#z_zone { box-shadow: 0 0 20px black;line-height: 0;::down(100);}
#z_zone_t { text-shadow: 0 0 30px black;::down(300);}
.s37 {
  #z_no: hide;
  #z_apply:hide;
  #z_zone:show up(100);
  #z_zone_t:show up(300);
}
#z_zone_s: rotate(0,-90);
.s38 {
  #z_zone:hide rotate(0,90)  delay(0.2);
  #z_zone_t:hide rotate(0,90);
  #z_zone_s: show delay(0.5) rotate(0,90);
}
#r_t{ ::down(270); color: white; font-size: 92px;text-shadow: 0 0 15px #444;}
.s39 {
  #z_zone_s: hide delay(0) rotate(0,90);
  #r_t: show up(270);
}
body.s39 {  background-color: #999; }
#r_d{ ::down(300) scale(0.4,0.4) rotate(-60);line-height: 0;box-shadow: 0 0 60px black;}
.s40 {
  #r_t: up(300) delay(0.2);
  #r_d: show up(300) rotate(60);
}
#r_1 { font-size: 40px;background-color: rgba(0,0,0,0.2);padding:20px;::down(400);}
#r_2 { font-size: 40px;background-color: rgba(0,0,0,0.2);padding:20px;::down(400);}
#r_3 { font-size: 40px;background-color: rgba(0,0,0,0.2);padding:20px;::down(400);}
.s41 {
  #r_d: up(300) scale(-0.1,-0.4) hide;
  #r_1: show up(400);
}
.s42 {
  #r_1: up(100) opacity(0.3);
  #r_2: show up(400);
}
.s43 {
  #r_1: up(80) opacity(0.1);
  #r_2: up(100) opacity(0.3);
  #r_3: show up(400);
}
#r_m { font-size:60px;width: 600px; text-align: center;color:yellow;text-shadow: 0 0 30px white;::scale(0.2,0.2);}
.s44 {
  #r_1: up(80) hide;
  #r_2: up(100) hide;
  #r_3: up(400) hide;
  #r_m: show scale(0.8,0.8);
}
#ro{ ::down(270); color: white; font-size: 92px;text-shadow: 0 0 15px #444;}
#ro_i { ::down(400);box-shadow: 0 0 50px #333; line-height: 0}
.s45 {
  #r_m: rotate(90) up(400) hide;
  #r_t: up(100) hide;
  #ro: show up(560);
  #ro_i: show up(400);
}
#ro_s: down(400) rotate(-90);
.s46 {
  #ro_i: up(400) rotate(90) hide;
  #ro_s: show rotate(90) up(400);
}
#ro_h: left(400) rotate(0,-90);
.s47 {
  #ro_s: hide rotate(0,90) left(400);
  #ro_h: show rotate(0,90) right(400);
}
#ro_a1{ ::down(400);font-size:60px;width: 400px; text-align: center;color:yellow;text-shadow: 0 0 30px white;}
.s48 {
  #ro_h: hide rotate(0,90) right(400);
  #ro_a1: show up(400);
}
body.s49 {  background-color: #eee; }

#g_a{ color: black;text-shadow: 0 0 20px #444;}
.s49 {
  #ro: up(200) hide;
  #ro_a1: hide up(500);
  #g_a: show;
}
body.s50 {  background-color: #ffe; }
#g_g{ color: yellow;text-shadow: 0 0 20px #444;::down(400);}
.s50 {
  #g_a: show up(150) opacity(0.5);
  #g_g: show up(400);
}
#g_u {
  border-radius: 80px; box-shadow: 0 0 90px #EEA; font-size: 52px;
  color: yellow;padding: 60px;background-color: rgba(0,100,0,0.5);width: 600px;
  text-align: center;
  ::down(400) rotate(-50);
}
.s51 {
  #g_a: show up(250) hide;
  #g_g: show up(400) hide;
  #g_u: show rotate(50) up(400);
}
body.s51 {  background-color: #fff; }
#g_pl { width: 800px;::rotate(80) down(400); box-shadow: 0 0 90px #555;line-height: 0;}
#g_pl iframe { width: 800px;height: 600px; border: solid 1px #555;}
.s52 {
  #g_u: hide;
  #g_pl: show rotate(-80) up(400);
}
.s53 {
  #g_pl: hide rotate(-80) up(400);
}
pre {
  font-size:20px;
  padding: 40px;
  outline: solid 5px #aaa;
}